.header_name{
    display: flex;
    background-color: #474444;
    align-items: center;
    justify-content: space-between;
}
.header_name i{
    padding-left: 20px;
}
.header_name .header_buttom{
    padding: 8px 16px;
    margin-left: 8px;
    
}
.header_name .header_buttom .button_1{
    background-color:black;
    margin-right: 20px;
}
.header_name .header_buttom .button_2{
    background-color: red;

}